<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Logout</title>
  </head>

  <body>
    <header>
      <div class="container-header">
          <h1>Caragua. na crista da onda</h1>
      </div>
    </header>
    <main>
      <div class="container-main">
        <h1>Desconectado com sucesso.</h1>
        <p>Obrigado por usar nosso site. Esperamos vê-lo novamente em breve.</p>
        <h1>
          <a href="/">Voltar para a página inicial.</a>
        </h1>
      </div>
    </main>
    <footer>
      <div class="container-footer">
        <h3><p>&copy;2025 Caragua. na crista da onda</p></h3>
      </div>
    </footer>
  </body>
</html>
