body {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}   

.container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-bottom: 30px;
}

.container-main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.entrar {
    display: flex;
    align-items: center;
    font: 1.2em sans-serif;
    color: #0c0c0c;
    background-color: #fff;
    cursor: pointer;
}

.cadastrar {
    display: flex;
    align-items: center;
    font: 1.2em sans-serif;
    color: #0c0c0c;
    background-color: #fff;
    cursor: pointer;
}

.show-entrar {
    display: flex;
    align-items: center;
    margin: auto;
}

.container-show {
    display: flex;
    align-items: center;
    margin: auto;
}

.container-login {
    display: block;
    align-items: center;
}

#login {
    display: flex;
    align-items: right;
    margin: 20px;
}

.card {
    border: 1px solid #0c0c0c;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card-header::after {
    width: 70px;
    height: 1px;
    background-color: #0e0909;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #0e0909;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #0e0909;
    outline: none;
    color: #0e0909;
}

.submit {
    border: 1px solid #0c0c0c;
    background-color: #fff;
    color: #0c0c0c;
    width: 90px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    border: 1px solid #0c0c0c;
    background-color: #7cee30;
    color: #0c0c0c;
    width: 90px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}
  
.password-container input {
    padding-right: 30px; /* Espaço para o ícone */
    position: relative;
    display: flex;
    align-items: center;
}

.password-icon {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
font-size: 16px;
color: #555;
}

.password-icon:hover {
color: #000;
}  

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    box-sizing: border-box;
}

.container-register {
    display: block;
    align-items: center;
    width: 300px;
    height: 90px;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
}

.logout-content {
    width: 280px;
    margin: 10px;
}

.logout-button {
   width: 70px;
   height: 20px;
   margin-left: auto;
   margin-right: auto;

}

.error {
    color: rgb(139, 191, 207);
    background: #ddecdf;
    font-size: 8px;
    border-radius: 50px;
}

.main-logout {
    display: flex;
    align-items: center;
    color: #0c0c0c;
    background-color: #fff;
    cursor: pointer;
}

.sair {
    display: flex;
    align-items: center;
    font: 1.2em sans-serif;
    color: #0c0c0c;
    background-color: #fff;
    cursor: pointer;
}

.delete {
    display: flex;
    align-items: center;
    font: 1.2em sans-serif;
    color: #0c0c0c;
    background-color: #fff;
    cursor: pointer;
}

  .container-footer {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

  .card-footer {
    text-align: center;
    margin-top: 20px;
}

.card-footer a {
    border-radius: 5px;
    border: 1px solid #0c0c0c;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.card-footer {
    text-align: center;
    margin-top: 20px;
}

.card-footer a {
    border-radius: 5px;
    border: 1px solid #0c0c0c;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}