<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Cadastrar Usuário</title>
    </head>
    <body>
        <header>
            <div class="container-header">
                <h1>Caragua. na crista da onda</h1>
            </div>
        </header>
        <main>
            <div class="container-main">
                <div id="login">
                    <div class="log">
                        <h1>Cadastrar Usuário</h1>
                        <form id="userForm" method="post" action="/usuarios/cadastrar">
                            <div>
                                <label for="name">Nome</label>
                                <input type="text" id="name" name="name">
                            </div>
                            <div>
                                <label for="username">Usuario</label>
                                <input type="text" id="username" name="username">
                            </div>
                            <div>
                                <label for="birthDate">Data de Nascimento</label>
                                <input type="date" id="birthDate" name="birthDate">
                            </div>
                            <div>
                                <label for="password">Senha</label>
                                <input type="password" id="password" name="password">
                            </div>
                            <div>
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email">
                            </div>
                            <div>
                                <label for="sex">Sexo</label>
                                <select id="sex" name="sex">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Outro">Outro</option>
                                    <option value="Prefiro não responder">Prefiro não responder</option>
                                </select>
                            </div>
                            <div>
                                <input type="submit" value="Cadastrar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <script src="/script.js"></script>
            </div>
        </main>
        <footer>
            <div class="container-footer">
                <h3> <p>&copy;2025 Caragua. na crista da onda</p></h3>
            </div>
        </footer>
    </body>
</html>